/************************************
 * @group form-controls
 *
 * Bootstrap form overrides
 */
.control-label {
  font-family: $font-family-accent;
  font-weight: 300;
  color: lighten($color-primary-dark, 20%);
}

.form-control {
  box-shadow: none;
  font-size: 16px;
  box-sizing: border-box;
  &:focus {
    box-shadow: none;
    border-color: $color-accent;
  }
}

.has-error .form-control, .has-error .form-control:focus {
  box-shadow: none;
}

/************************************
 * @group form-variations
 *
 * Form style variations
 */
.form-control-dark {
  padding: 5px 10px;
  border-color: lighten($color-primary-dark, 5%);
  background: $color-primary-dark;
  height: 30px;
  font-size: 14px;
  color: lighten($color-primary-dark, 40%);
  &:focus {
    color: #fff;
  }
}

.uploaded-file {
  border: 1px solid $input-border;
  padding: 5px;
  display: block;
  width: 200px;
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.form-group-accent {
  .form-control {
    font-size: 24px;
  }
}

.required:after {
  color: $brand-danger;
  content: '*';
}

/************************************
 * @group form-group
 *
 * Inline labels form group stlyes
 */
.form-group-inline {
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 0;
  position: relative;
  &:not(:first-child) {
    border-left: 1px solid #f4f4f4;
  }
  &.has-error {
    .form-control {
      border-color: $brand-danger;
      &:focus {
        border-color: $brand-danger;
      }
    }
    .control-label {
      color: $brand-danger;
    }
    .help-block {
      position: absolute;
      bottom: -1px;
      right: 0;
      background: $brand-danger;
      color: #fff;
      padding: 1px 7px;
      font-size: 12px;
      margin: 0;
    }
  }
  .control-label {
    padding: 10px 15px 0 15px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .form-control {
    border-radius: 0;
    margin: 0;
    resize: none;
    padding-top: 30px;
    height: 100%;
    border: 1px solid #fff;
    border-bottom-color: #f4f4f4;
    margin-bottom: -1px;
    &:focus {
      border-color: $color-accent;
    }
  }
  .editor-toolbar {
    padding-top: 30px;
  }
  .select2-container {
    margin-top: 23px;
  }
  .select2-container--default .select2-selection--single {
    border: 0;
  }
}