/************************************
 * @group shared-wrapper
 *
 * Site wrapper
 */
.page-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
  }
}

/************************************
 * @group shared-footer
 *
 * Site footer
 */
.site-footer {
  background-color: #fff;
  margin-top: 30px;
  height: $footer-height;
  .site-footer-content {
    padding: 30px 0;
  }
}

// Sticky footer
.site-footer, .page-wrapper:after {
  height: $footer-height;
}

/************************************
 * @group shared-navbar
 *
 * Default admin navigation bar
 */
.navbar-admin {
  background: $color-navbar-bg;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  .navbar-brand {
    color: #eae8ff;
    &:hover,
    &:focus {
      color: #eae8ff;
    }
  }
  .navbar-left {
    margin-left: -15px;
  }
  .navbar-nav {
    > li > a {
      color: #eae8ff;
      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent-dark;
        box-shadow: inset 0 -3px 0 $color-accent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent-dark;
        box-shadow: inset 0 -3px 0 $color-accent;
      }
    }
  }
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $color-accent-dark;
        box-shadow: inset 0 -3px 0 $color-accent;
        color: #fff;
      }
    }
  }
  .badge {
    background-color: $color-accent;
  }
}

/************************************
 * @group shared-pagebar
 *
 * Pagebar containg page title and addon buttons
 */
.pagebar {
  background: $color-pagebar-bg;
  margin-bottom: 20px;
  height: $page-bar-height;
  .pagebar-header {
    padding-top: 15px;
    .page-title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      font-weight: 200;
      display: inline-block;
      color: $color-primary-dark;
    }
    .breadcrumbs {
      display: block;
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      & > * {
        float: left;
        margin: 0;
        color: $color-accent;
        text-transform: uppercase;
        font-family: $font-family-accent;
        font-size: 10px;
        &::after {
          content: '\25B8';
          color: #ccc;
          margin: 0 5px;
        }
        &.active {
          color: #ccc;
          &::after {
            content: '';
          }
        }
      }
    }
  }
  .pagebar-right {
    text-align: right;
    line-height: $page-bar-height;
  }
}

/************************************
 * @group shared-index-action
 *
 * Default grid view index action
 */
.index-action {
  background: #fff;
  padding: 10px 15px;
  input {
    border: none;
    border-radius: 0;
  }
  .input-group-addon {
    border: 0;
    border-radius: 0;
    background: none;
    padding: 9px 0 9px 10px;
    color: #6F6F6F;
  }
}

/************************************
 * @group shared-misc
 *
 * Misc. styles
 */
.col-no-padding-left {
  padding-left: 0 !important;
}

.col-no-padding-right {
  padding-right: 0 !important;
}