.pagebar {
  background: darken($color-navbar-bg, 10%);
  margin-bottom: 20px;
  height: $page-bar-height;
  line-height: $page-bar-height;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1020;
  .page-title {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: 200;
    display: inline-block;
    color: $color-primary-dark;
  }
}

// NAVBAR
.navbar-admin {
  background: $color-navbar-bg;
  box-shadow: inset 0 -3px darken($color-navbar-bg, 2%);
  border-color: darken($color-navbar-bg, 2%);
  margin-bottom: 0;

  .navbar-brand {
    color: #eae8ff;
    &:hover,
    &:focus {
      color: #eae8ff;
    }
  }

  .navbar-nav {
    > li > a {
      color: $color-primary-dark;

      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent;
        box-shadow: inset 0 -3px darken($color-accent, 10%);
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent;
      }
    }
  }

  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $color-accent;
        color: #fff;
      }
    }
  }

  .badge {
    background-color: $color-accent;
  }
}