.table-admin {
  border: 0;
  th {
    // border: 0 !important;
    border: 0 !important;
    background: $table-bg-accent;
    padding: 6px 20px !important;
    color: $color-primary-dark;
    box-shadow: inset 0 1px #fff;
    a {
      color: $color-primary-dark;
      i {
        color: $color-accent;
      }
    }
  }
  td {
    border-bottom: 1px solid #EBEDF6;
    padding: 12px 20px !important;
    vertical-align: middle !important;
    small {
      color: #6F6F6F;
    }
  }
  tfoot {
    tr {
      background: $table-bg-accent;
    }
    .table-info-footer {
      vertical-align: middle;
    }
  }
  .pagination {
    margin: 0;
    > li {
      > a, > span {
        padding: 6px 12px;
      }
    }
  }
}

th {
  font-family: $font-family-accent;
  font-weight: 400;
  line-height: 2 !important;
}

.table-grid td:last-child, .table-grid th:last-child {
  text-align: right;
}

.table-hover > tbody > tr:hover {
    background-color: $table-bg-hover;
    > td {
      border-color: darken($table-bg-hover, 10%);
    }
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 0;
}

.no-results {
  text-align: center !important;
  font-weight: 400;
}