/************************************
 * @group squad-members
 *
 * Members list
 */
.squad-member {
  background: $color-primary-dark;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 385px;
  position: relative;
  .btn-corner {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .btn-captain-active {
    color: #fff;
    background: $input-border-focus;
    border-color: $input-border-focus;
  }
  img {
    width: 100%;
    height: auto;
  }
  .squad-member-info {
    padding: 10px;
    h4 {
      text-align: center;
      margin-top: 0;
      color: #fff;
    }
  }
}

/************************************
 * @group squad-index
 *
 * Squad listing
 */
.team-group {
  .team-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #EBEDF6;
    img {
      border: 1px solid #DDD;
    }
    .team-group-item-heading {
      margin-top: 0;
      margin-bottom: 5px;
      color: $color-primary-dark;
    }
    .team-group-item-text {
      margin-bottom: 0;
      line-height: 1.3;
      color: $color-primary-dark;
    }
    &:hover, &:active, &:focus {
      background-color: #f7f7f7;
    }
  }
}

.squads-action {
  padding: 0;
  margin: 0;
  a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #EBEDF6;
    font-size: 24px;
    padding: 15px;
    color: $color-primary-dark;
    &:focus, &:active, &:hover {
      background-color: #f7f7f7;
      color: $color-primary-dark;
      text-decoration: none;
    }
  }
}