/************************************
 * @group squad-members
 *
 * Members list
 */
.squad-members {
  padding: 0 0 0 20px;
}

.squad-member {
  float: left;
  margin: 0 20px 20px 0;
  width: 180px;
  box-shadow: 0 2px 4px #e0e0e0;
  border: 1px solid #ededed;
  .squad-member-header {
    position: relative;
    padding: 10px 10px 5px 10px;
    > a {
      color: #adadad;
    }
    .captain {
      color: #F3C66A;
    }
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: block;
    margin: 10px auto;
  }
  .squad-member-info {
    height: 150px;
    padding: 10px;
    h4 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .form-group {
      margin-bottom: 10px;
      .form-control {
        height: 28px;
        padding: 2px 7px;
        font-size: 14px;
      }
    }
  }
}

/************************************
 * @group squad-index
 *
 * Squad listing
 */
.team-group {
  .team-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #EBEDF6;
    img {
      border: 1px solid #DDD;
    }
    .team-group-item-heading {
      margin-top: 0;
      margin-bottom: 5px;
      color: $color-primary-dark;
    }
    .team-group-item-text {
      margin-bottom: 0;
      line-height: 1.3;
      color: $color-primary-dark;
    }
    &:hover, &:active, &:focus {
      background-color: $table-bg-hover;
    }
  }
}

.squads-action {
  padding: 0;
  margin: 0;
  a {
    display: block;
    width: 100%;
    border-bottom: 1px solid #EBEDF6;
    font-size: 24px;
    padding: 15px;
    color: $color-primary-dark;
    &:focus, &:active, &:hover {
      background-color: #f7f7f7;
      color: $color-primary-dark;
      text-decoration: none;
    }
  }
}

/************************************
 * @group squad-search
 *
 * Squad search component
 */
.member-search-group {
  border-bottom: 1px solid #f4f4f4;
  .dropdown-menu {
    width: 100%;
  }
  input {
    border: none;
    border-radius: 0;
  }
  .input-group-addon {
    border: 0;
    border-radius: 0;
    background: none;
    padding: 9px 0 9px 10px;
    color: #6F6F6F;
  }
}

/************************************
 * @group squad-history
 *
 * Squad history component
 */
.squad-history-item {
  h3 {
    margin: 10px 15px;
    cursor: pointer;
    display: block;
  }
  .list-group {
    margin: 0;
  }
}