// Default colors
$color-accent: #4fb77a;
$color-accent-dark: #448464;
$color-primary-dark: #333742;

$brand-success: #2ec4b6;
$brand-danger: #fe5f55;
$brand-warning: #ff9f1c;
$brand-info: #4d8ac0;
$brand-primary: lighten($color-primary-dark, 10%);
$link-hover-color: $color-accent;
$color-light-bg: #f8f9fe;
$color-navbar-bg: $color-primary-dark;
$color-pagebar-bg: #fff;
$color-main-bordering: #dddee4;

$state-danger-text: #2d3142;

// Fonts
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-accent: "Montserrat", sans-serif;

// Tables
$table-border-color: $color-main-bordering;
$table-bg-hover: #FFFBF2;
$table-bg-accent: #f4f4f5;
$table-bg: #ffffff;

// Inputs
$input-height-base: 40px;
$input-border-radius: 2px;
$input-border: lighten($color-primary-dark, 60%);
$padding-base-vertical: 9px;
$padding-base-horizontal: 14px;

// Dropdowns
//$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #f5f5f5;
$dropdown-border: $color-primary-dark;

/*
* User variables
*/
$page-bar-height: 80px;

$match-lose-color: #f25f5c;
$match-win-color: #70c1b3;
$match-draw-color: #ffe066;

$nav-pills-border-radius: 0;
$nav-link-hover-bg: darken($color-light-bg, 6%);
$nav-pills-active-link-hover-bg: $color-primary-dark;

$modal-backdrop-bg: $color-primary-dark;
$modal-backdrop-opacity: .8;

$icon-font-path: "../../../fonts/bootstrap/";