body {
  font-weight: 300;
  padding-top: 140px;
  //background: #F8F7FD;
}

a.text-delete {
  color: $brand-danger;
  border: 1px solid $brand-danger;
  background: #fff;
  text-decoration: none;
  padding: 0 5px;
  &:hover, &:focus, &:active {
    color: #fff;
    background: $brand-danger;
    border-bottom: 1px solid $brand-danger;
  }
}

a {
  color: #3680C3;
}

// SHARED
#modal-loader {
  display: none;
}

.pic-50 {
  width: 50px;
  height: auto;
}

.pic-left {
  float: left;
  margin-right: 15px;
}

.img-map {
  width: 50px;
  height: auto;
}

/**
<div class="panel-loader">
    <div class="panel-loader-icon"><i class="fa fa-spinner fa-2x fa-pulse"></i></div>
</div>
**/
.panel-loader {
  background: rgba(18, 16, 66, 0.50);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  .panel-loader-icon {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    z-index: 7000;
    display: table;
    height: 100%;
    i {
      display: table-cell;
      vertical-align: middle;
    }
  }
}