/*
| ----------------------------------------
| BASE
| ----------------------------------------
| Base styles shared across whole admin UI
*/
// Admin variables
@import "admin_base/variables";
// User specific mixins
@import "admin_base/mixins";
// Import bootstrap core
@import "bootstrap/bootstrap";
// Base styles
@import "admin_base/base";
// Tables
@import "admin_base/tables";
// Forms
@import "admin_base/forms";
// Shared styles
@import "admin_base/shared";
// Custom buttons
@import "admin_base/buttons";

/*
| ----------------------------------------
| PAGE
| ----------------------------------------
| Page specific styles
*/
// Matches
@import "admin_base/matches";
// Squads
@import "admin_base/teams";
// Games
@import "admin_base/games";
// Users and Roles
@import "admin_base/users-roles";

/*
| ----------------------------------------
| PLUGINS & MISC
| ----------------------------------------
| Plugin specific styles and the rest
*/
// Datepicker plugin
@import "plugins/datepicker";
// Select2 plugin
@import "plugins/select2";
// Markdown WYSIWYG
@import "plugins/wysiwyg";
// Bootstrap overrides
@import "admin_base/overrides";