// Colors
$brand-success: #2ec4b6;
$brand-danger: #e71d36;
$brand-warning: #ff9f1c;
$brand-primary: #2274a5;
$link-hover-color: $brand-danger;

$color-light-bg: #f8f9fe;
$color-navbar-bg: #2d3142;
$color-accent: #ef233c;

// Fonts
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-accent: "Montserrat", sans-serif;

// Tables
$table-bg-accent: $color-light-bg;
$table-border-color: darken($color-light-bg, 4%);

// Inputs
$input-height-base: 40px;
$input-border-radius: 2px;
$input-border: lighten(#2d3142, 60%);
$padding-base-vertical: 9px;
$padding-base-horizontal: 14px;

// User specific
$page-bar-height: 70px;

$match-lose-color: #f25f5c;
$match-win-color: #70c1b3;
$match-draw-color: #ffe066;

$nav-pills-border-radius: 0;

@import "bootstrap/bootstrap";

@mixin block($color) {
  background: $color;
  border: 1px solid darken($color, 4%);
  padding: 20px;
  color: darken($color, 70%);
  h3 {
    margin: 0 0 20px 0;
    small {
      color: darken($color, 30%);
      display: block;
      margin-top: 5px;
    }
  }
}

body {
  font-weight: 300;
  padding-top: 140px;
}

th {
  font-family: $font-family-accent;
  font-weight: 400;
  line-height: 2 !important;
}

.table-grid td:last-child, .table-grid th:last-child {
  text-align: right;
}

label {
  font-family: $font-family-accent;
  font-weight: 300;
  color: lighten($color-navbar-bg, 20%);
}

.form-control {
  box-shadow: none;
  font-size: 16px;
  &:focus {
    box-shadow: none;
  }
}

.btn {
  font-family: $font-family-accent;
  font-weight: 300;
  box-shadow: inset 0 -8px 8px rgba(0,0,0,.10), inset 0 1px 0 rgba(255,255,255,.3);
  text-shadow: 0 2px 2px rgba(0,0,0,.20);
}

.form-subtitle {
  font-weight: 200;
  margin-top: 0;
//  span {
//    border: 1px solid $brand-success;
//    display: inline-block;
//    border-radius: 18px;
//    width: 34px;
//    height: 34px;
//    line-height: 30px;
//    text-align: center;
//    margin-right: 10px;
//
//  }
}

// BLOCKS
.block {
  @include block($color-light-bg);
}

// CONTEXTBAR
.pagebar {
  background: $color-light-bg;
  margin-bottom: 20px;
  height: $page-bar-height;
  line-height: $page-bar-height;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1020;
  border-bottom: 1px solid darken($color-light-bg, 4%);
  .page-title {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: 200;
    display: inline-block;
  }
}

// NAVBAR
.navbar-admin {
  background: #2d3142;
  border-color: #2d3142;
  margin-bottom: 0;

  .navbar-brand {
    color: #eae8ff;
    &:hover,
    &:focus {
      color: #eae8ff;
    }
  }

  .navbar-nav {
    > li > a {
      color: #eae8ff;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #ef233c;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #ef233c;
      }
    }
  }

  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: #ef233c;
        color: #fff;
      }
    }
  }

  .badge {
    background-color: $color-accent;
  }
}

// Matches
.match-win {
  color: $match-win-color;
}
.match-draw {
  color: $match-draw-color;
}
.match-lose {
  color: $match-lose-color;
}

.row-score {
  margin-bottom: 10px;
}

.nav-rounds {
  background: darken($color-light-bg, 3%);
  border: 1px solid darken($color-light-bg, 6%);
  border-bottom: 0;
}

.rounds-content {
  background: $color-light-bg;
  border: 1px solid darken($color-light-bg, 4%);
  padding: 10px;
}