/*
* Override variables
*/
// Default colors
$color-accent: #ef233c;
$color-primary-dark: #2d3142;

$brand-success: #2ec4b6;
$brand-danger: #fe5f55;
$brand-warning: #ff9f1c;
$brand-primary: #456990;
$link-hover-color: $color-accent;
$color-light-bg: #f8f9fe;
$color-navbar-bg: $color-primary-dark;

// Fonts
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-accent: "Montserrat", sans-serif;

// Tables
$table-bg-accent: $color-light-bg;
$table-border-color: darken($color-light-bg, 4%);

// Inputs
$input-height-base: 40px;
$input-border-radius: 2px;
$input-border: lighten($color-primary-dark, 60%);
$padding-base-vertical: 9px;
$padding-base-horizontal: 14px;

/*
* User variables
*/
$page-bar-height: 70px;

$match-lose-color: #f25f5c;
$match-win-color: #70c1b3;
$match-draw-color: #ffe066;

$nav-pills-border-radius: 0;
$nav-link-hover-bg: darken($color-light-bg, 6%);
$nav-pills-active-link-hover-bg: $color-primary-dark;
$color-accent: #ef233c;

$modal-backdrop-bg: $color-primary-dark;
$modal-backdrop-opacity: .8;

  /*
  * User Mixins
  */
@mixin block($color) {
  background: $color;
  border: 1px solid darken($color, 4%);
  padding: 20px;
  color: darken($color, 70%);
  h3 {
    margin: 0 0 20px 0;
    small {
      color: darken($color, 30%);
      display: block;
      margin-top: 5px;
    }
  }
}

// Import bootstrap core
@import "bootstrap/bootstrap";

/*
* CSS Defaults
*/
body {
  font-weight: 300;
  padding-top: 140px;
}

#modal-loader {
  display: none;
}

// Tables
.table-admin {
  th {
    border-color: #f6f6f6 !important;
  }
  td {
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
    padding: 10px !important;
  }
}

th {
  font-family: $font-family-accent;
  font-weight: 400;
  line-height: 2 !important;
}

.table-grid td:last-child, .table-grid th:last-child {
  text-align: right;
}

// Forms
label {
  font-family: $font-family-accent;
  font-weight: 300;
  color: lighten($color-navbar-bg, 20%);
}

.form-control {
  box-shadow: none;
  font-size: 16px;
  box-sizing: border-box;
  &:focus {
    box-shadow: none;
  }
}

/*
* Admin styles
*/
// Pagebar
.pagebar {
  background: lighten($color-navbar-bg, 10%);
  margin-bottom: 20px;
  height: $page-bar-height;
  line-height: $page-bar-height;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1020;
  .page-title {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: 200;
    display: inline-block;
    color: #eae8ff;
  }
}

// NAVBAR
.navbar-admin {
  background: $color-navbar-bg;
  border-color: $color-navbar-bg;
  margin-bottom: 0;

  .navbar-brand {
    color: #eae8ff;
    &:hover,
    &:focus {
      color: #eae8ff;
    }
  }

  .navbar-nav {
    > li > a {
      color: #eae8ff;

      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent;
      }
    }
  }

  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $color-accent;
        color: #fff;
      }
    }
  }

  .badge {
    background-color: $color-accent;
  }
}

// Matches
.match-win {
  color: $match-win-color;
}
.match-draw {
  color: $match-draw-color;
}
.match-lose {
  color: $match-lose-color;
}

.row-score {
  margin-bottom: 10px;
}

.nav-rounds {
  background: darken($color-light-bg, 3%);
  border: 1px solid darken($color-light-bg, 6%);
  border-bottom: 0;
}

.rounds-content {
  background: $color-light-bg;
  border: 1px solid darken($color-light-bg, 4%);
  padding: 10px;
}

.match-form-info {
  background: $color-light-bg;
  border: 1px solid darken($color-light-bg, 6%);
  border-bottom: 0;
  padding: 10px;
}

.round-options {
  border-bottom: 1px solid darken($color-light-bg, 6%);
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.scores {
  .score-item {
    width: 200px;
    background: #fff;
    border: 1px solid $input-border;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    .score-item-body {
      padding: 10px 10px 0 10px;
      label {
        font-size: 12px;
        color: lighten($color-navbar-bg, 30%);
      }
    }
    .btn-remove-score {
      background: lighten($color-navbar-bg, 30%);
      border: 0;
      color: #fff;
      width: 100%;
      display: block;
      font-size: 14px;
      height: 30px;
      &:focus, &:hover, &:active {
        border: 0;
        background: $brand-danger;
      }
    }
  }
}

// Admin forms
.admin-form {
  hr {
    margin: 40px 0;
  }
}

.form-subtitle {
  font-weight: 200;
  margin-top: 0;
}

/*
* Bootstrap overrides
*/
.btn {
  font-family: $font-family-accent;
  font-weight: 300;
  box-shadow: inset 0 -4px 7px rgba(0,0,0,.08), inset 0 1px 0 rgba(255,255,255,.3);
  text-shadow: 0 2px 1px rgba(0,0,0,.20);
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background: lighten($color-primary-dark, 10%);
  border: 0;
  color: #fff;
}

.modal-footer {
  background: $color-light-bg;
  border-color: $input-border;
}

#confirm-modal {
  .modal-footer {
    padding: 5px;
  }
}

.close-modal {
  background: rgba(0,0,0,.3) !important;
  color: lighten($brand-primary, 60%);
  border-radius: 15px;
  width: 30px;
  height: 30px;
  opacity: 1;
  text-shadow: none;
  &:hover, &:focus {
    opacity: 1;
    color: #fff;
    background: rgba(0,0,0,.45) !important;
  }
}

.alert {
  background: #fff;
  border: 1px solid #ccc;
  border-left: 5px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 0;
}

.alert-danger {
  border-left-color: $brand-danger;
  color: $color-primary-dark;
}

.alert-success {
  border-left-color: $brand-success;
  color: $color-primary-dark;
}




.bubblingG {
text-align: center;
width:80px;
height:50px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: $color-primary-dark;
-moz-border-radius: 50px;
-moz-animation: bubblingG 0.7s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 0.7s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 0.7s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 0.7s infinite alternate;
border-radius: 50px;
animation: bubblingG 0.7s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.21s;
-webkit-animation-delay: 0.21s;
-ms-animation-delay: 0.21s;
-o-animation-delay: 0.21s;
animation-delay: 0.21s;
}

#bubblingG_3 {
-moz-animation-delay: 0.42s;
-webkit-animation-delay: 0.42s;
-ms-animation-delay: 0.42s;
-o-animation-delay: 0.42s;
animation-delay: 0.42s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:$color-primary-dark;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:$color-primary-dark;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:$color-primary-dark;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:$color-primary-dark;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:$color-primary-dark;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

}