/*
* Override variables
*/
// Default colors
$color-accent: #ef233c;
$color-primary-dark: #2d3142;

$brand-success: #2ec4b6;
$brand-danger: #fe5f55;
$brand-warning: #ff9f1c;
$brand-primary: lighten($color-primary-dark, 15%);
$link-hover-color: $color-accent;
$color-light-bg: #f8f9fe;
$color-navbar-bg: $color-primary-dark;

$state-danger-text: $brand-danger;

// Fonts
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-accent: "Montserrat", sans-serif;

// Tables
$table-bg-accent: $color-light-bg;
$table-border-color: $color-light-bg;
$table-bg-hover: $table-border-color;

// Inputs
$input-height-base: 40px;
$input-border-radius: 2px;
$input-border: lighten($color-primary-dark, 60%);
$padding-base-vertical: 9px;
$padding-base-horizontal: 14px;

// Dropdowns
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: darken($color-accent, 5%);
$dropdown-border: $color-primary-dark;

/*
* User variables
*/
$page-bar-height: 70px;

$match-lose-color: #f25f5c;
$match-win-color: #70c1b3;
$match-draw-color: #ffe066;

$nav-pills-border-radius: 0;
$nav-link-hover-bg: darken($color-light-bg, 6%);
$nav-pills-active-link-hover-bg: $color-primary-dark;

$modal-backdrop-bg: $color-primary-dark;
$modal-backdrop-opacity: .8;

  /*
  * User Mixins
  */
@mixin block($color) {
  background: $color;
  border: 1px solid darken($color, 4%);
  padding: 20px;
  color: darken($color, 70%);
  h3 {
    margin: 0 0 20px 0;
    small {
      color: darken($color, 30%);
      display: block;
      margin-top: 5px;
    }
  }
}

// Import bootstrap core
@import "bootstrap/bootstrap";

/*
* CSS Defaults
*/
body {
  font-weight: 300;
  padding-top: 140px;
  //background: #F8F7FD;
}

a.text-delete {
  color: $brand-danger;
  border-bottom: 1px dashed $brand-danger;
  text-decoration: none;
  padding: 0 5px;
  &:hover, &:focus, &:active {
    color: #fff;
    background: $brand-danger;
    border-bottom: 1px solid $brand-danger;
  }
}

a {
  color: #3680C3;
}

// SHARED
#modal-loader {
  display: none;
}

.pic-50 {
  width: 50px;
  height: auto;
}

.pic-left {
  float: left;
  margin-right: 15px;
}

.img-map {
  width: 50px;
  height: auto;
}

/**
<div class="panel-loader">
    <div class="panel-loader-icon"><i class="fa fa-spinner fa-2x fa-pulse"></i></div>
</div>
**/
.panel-loader {
  background: rgba(18, 16, 66, 0.50);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  .panel-loader-icon {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    z-index: 7000;
    display: table;
    height: 100%;
    i {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Tables
.table-admin {
  //box-shadow: 0 2px 4px rgba(0,0,0,.1); #F8F7FD
  // background: #fff;
  // th:first-child {
  //   -webkit-border-top-left-radius: 5px;
  //   -moz-border-radius-topleft: 5px;
  //   border-top-left-radius: 5px;
  // }
  // th:last-child {
  //   -webkit-border-top-right-radius: 5px;
  //   -moz-border-radius-topright: 5px;
  //   border-top-right-radius: 5px;
  // }
  th {
    // border: 0 !important;
    border-color: $brand-primary !important;
    //background: lighten($color-navbar-bg, 10%);
    //color: #fff;
    a {
      color: $brand-primary;
      i {
        color: $color-accent;
      }
    }
  }
  td {
    //background: #fff;
    border-bottom: 1px solid #f6f6f6;
    padding: 10px !important;
  }
}

th {
  font-family: $font-family-accent;
  font-weight: 400;
  line-height: 2 !important;
  //color: $color-accent;
}

.table-grid td:last-child, .table-grid th:last-child {
  text-align: right;
}

.table-hover > tbody > tr:hover {
    background-color: #FFF7E4;
}

// Forms
label {
  font-family: $font-family-accent;
  font-weight: 300;
  color: lighten($color-navbar-bg, 20%);
}

.form-control {
  box-shadow: none;
  font-size: 16px;
  box-sizing: border-box;
  &:focus {
    box-shadow: none;
  }
}

.form-control-dark {
  padding: 5px 10px;
  border-color: lighten($color-primary-dark, 5%);
  background: $color-primary-dark;
  height: 30px;
  font-size: 14px;
  color: lighten($color-primary-dark, 40%);
  &:focus {
    color: #fff;
  }
}

.has-error .form-control, .has-error .form-control:focus {
  box-shadow: none;
}

.uploaded-file {
  border: 1px solid $input-border;
  padding: 5px;
  display: block;
  width: 200px;
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/*
* Admin styles
*/
.btn-overlay {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #fff;
  text-shadow: none !important;
  box-shadow: none !important;
  &:hover, &:focus, &:active {
    background: $brand-danger;
    color: #fff;
  }
}

// Pagebar
.pagebar {
  background: lighten($color-navbar-bg, 10%);
  margin-bottom: 20px;
  height: $page-bar-height;
  line-height: $page-bar-height;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1020;
  .page-title {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: 200;
    display: inline-block;
    color: #eae8ff;
  }
}

// NAVBAR
.navbar-admin {
  background: $color-navbar-bg;
  border-color: $color-navbar-bg;
  margin-bottom: 0;

  .navbar-brand {
    color: #eae8ff;
    &:hover,
    &:focus {
      color: #eae8ff;
    }
  }

  .navbar-nav {
    > li > a {
      color: #eae8ff;

      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $color-accent;
      }
    }
  }

  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $color-accent;
        color: #fff;
      }
    }
  }

  .badge {
    background-color: $color-accent;
  }
}

// Matches
$match-games-border-color: darken($color-light-bg, 6%);

.match-win {
  color: $match-win-color;
}
.match-draw {
  color: $match-draw-color;
}
.match-lose {
  color: $match-lose-color;
}

.row-score {
  margin-bottom: 10px;
}

.nav-rounds {
  background: darken($color-light-bg, 3%);
  border: 1px solid $match-games-border-color;
  border-bottom: 0;
}

.rounds-content {
  background: $color-light-bg;
  border: 1px solid $match-games-border-color;
  padding: 10px;
}

.match-form-info {
  background: $color-light-bg;
  border: 1px solid $match-games-border-color;
  border-bottom: 0;
  padding: 10px;
}

.round-options {
  border-bottom: 1px solid $match-games-border-color;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.scores {
  .score-item {
    width: 200px;
    background: $color-primary-dark;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    .score-item-body {
      padding: 10px 10px 0 10px;
      label {
        font-size: 12px;
        color: lighten($color-navbar-bg, 30%);
      }
    }
    .btn-remove-score {
      background: lighten($color-navbar-bg, 30%);
      border: 0;
      color: #fff;
      width: 100%;
      display: block;
      font-size: 14px;
      height: 30px;
      &:focus, &:hover, &:active {
        border: 0;
        background: $brand-danger;
      }
    }
  }
}

.match-info-box {
  border: 1px solid $match-games-border-color;
  background: $color-light-bg;
  .match-info-box-home {
    float: left;
    padding: 10px;
    border-right: 1px solid $match-games-border-color;
    width: 50%;
    img {
      float: left;
      margin-right: 10px;
    }
  }
  .match-info-box-guest {
    float: left;
    padding: 10px;
  }
  .match-info-box-vs {
    float: left;
    border: 1px solid $match-games-border-color;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    margin-left: -15px;
    margin-top: 50px;
    background: #fff;
  }
  .match-info-box-players {
    list-style: none;
    margin: auto;
    padding: 0;
    line-height: 32px;
    width: 50%;
    li {
      background: #fff;
      margin-bottom: 1px;
      width: 100%;
      display: block;
    }
  }
}

.players-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 2px;
    a {
      display: block;
      background: #fcfcfc;
      border: 1px solid #ccc;
      line-height: 30px;
      padding: 0 10px;
      outline: none;
    }
    &.active a {
      background: lighten($brand-success, 50%);
      color: $brand-success;
      border: 1px solid $brand-success;
    }
  }
}

// Squads
.squad-member {
  background: $color-primary-dark;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 385px;
  position: relative;
  .btn-corner {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .btn-captain-active {
    color: #fff;
    background: $input-border-focus;
    border-color: $input-border-focus;
  }
  img {
    width: 100%;
    height: auto;
  }
  .squad-member-info {
    padding: 10px;
    h4 {
      text-align: center;
      margin-top: 0;
      color: #fff;
    }
  }
}

// Games
.map-list {
  .map {
    background: $color-primary-dark;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
    float: left;
    .map-image {
      margin-right: 10px;
      position: relative;
      .btn {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      img {
        width: 200px;
        height: 150px;
      }
    }
    .map-form {
      padding: 10px;
      input[type="file"] {
        color: #fff;
      }
    }
  }
}

// Admin forms
.admin-form {
  hr {
    margin: 40px 0;
  }
}

.form-subtitle {
  font-weight: 200;
  margin-top: 0;
}

/*
* Bootstrap overrides
*/
.btn {
  font-family: $font-family-accent;
  font-weight: 300;
  box-shadow: 0 2px 0 rgba(0,0,0,.1);
  text-shadow: 0 1px 2px rgba(0,0,0,.15);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-width: 2px;
}

.btn-dark {
  padding: 5px 10px;
  border-color: lighten($color-primary-dark, 5%);
  background: $color-primary-dark;
  height: 30px;
  font-size: 14px;
  color: lighten($color-primary-dark, 30%);
  box-shadow: none;
  text-shadow: none;
  font-family: $font-family-sans-serif;
  &:hover, &:active, &:focus {
    color: #fff;
    border-color: $input-border-focus;
  }
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  background: lighten($color-primary-dark, 10%);
  border: 0;
  color: #fff;
}

.modal-footer {
  background: $color-light-bg;
  border-color: $input-border;
}

#confirm-modal {
  .modal-footer {
    padding: 5px;
  }
}

.close-modal {
  background: rgba(0,0,0,.3) !important;
  color: lighten($brand-primary, 60%);
  border-radius: 15px;
  width: 30px;
  height: 30px;
  opacity: 1;
  text-shadow: none;
  &:hover, &:focus {
    opacity: 1;
    color: #fff;
    background: rgba(0,0,0,.45) !important;
  }
}

.alert {
  background: #fff;
  border: 1px solid #ccc;
  border-left: 5px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 0;
  h3 {
    color: #ccc;
    margin-top: 0;
  }
  ul {
    margin: 5px 15px;
    padding: 0;
    li {
      color: $brand-danger;
      span {
        color: $color-primary-dark;
      }
    }
  }
}

.alert-danger {
  border-left-color: $brand-danger;
  color: $color-primary-dark;
  h3 {
    color: $brand-danger;
  }
}

.alert-success {
  border-left-color: $brand-success;
  color: $color-primary-dark;
  h3 {
    color: $brand-success;
  }
}

.panel {
  border-radius: 0;
  box-shadow: none;
  .panel-heading {
    font-family: $font-family-accent;
    border: 0;
  }
}

.panel-default > .panel-heading {
  color: #7b7b7b;
}

@import "datepicker";

.dropdown-menu {
  border-radius: 0;
  border-width: 2px;
  > li > a {
    padding: 5px 20px;
    //border-bottom: 1px solid #ccc;
  }
}

@import "select2";